@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Global Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  min-width: 400px;
}
body {
  min-width: 400px;
  font-size: 16px;
  font-family: "Roboto";
  line-height: 1.6em;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 95%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

a:hover {
  text-decoration: underline;
}
ul {
  margin-right: 0;
}
ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 1em;
}
/* Header Code */
#main-header ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#navbar-top ul li {
  font-size: 0.85rem;
}
#google-apps-logo {
  position: relative;
  height: 1.75em;
  width: 1.75em;
  top: 0.25em;
  left: 0.7em;
}
#google-pfp {
  position: relative;
  height: 3em;
  width: 3em;
  top: 0.25em;
  margin-right: 0;
  left: 0.75em;
}

/* Logo and Searchbar Code */
main {
  margin-top: 3em;
  margin-bottom: 10em;
}
#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#google-logo {
  position: relative;
  top: 0.75em;
}
.searchbar__container {
  min-width: 400px;
  position: relative;
  padding: 0.3em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 1px solid #dfe1e5;
  border-radius: 100px;
  margin: 2.5em 0 2em 0;
}
#searchbar {
  border: none;
  color: rgba(0, 0, 0, 0.87);
  background: transparent;
  width: 87.5%;
  padding: 0.7em 0;
  margin-left: 1em;
}
.searchbar-icon__search {
  filter: contrast(0);
  position: absolute;
  left: 0.8em;
  height: 20px;
  width: 20px;
}
.searchbar__container:hover {
  box-shadow: 0 1px 1px 1px #dfe1e5;
}
#searchbar:focus {
  outline: none;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.btn {
  text-align: center;
  font-size: 0.85rem;
  border: none;
  color: #3c4043;
  background: transparent;
  padding: 0.7em 0.7em;
  cursor: pointer;
}

.btn:hover {
  border-radius: 5px;
  border: 1px solid #dadce0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* Footer Code */
.container__bottom {
  width: 100%;
  margin: 0 auto;
}
footer {
  margin-top: auto;
}
.footer {
  margin-top: auto;
  font-size: 0.86rem;
  border-top: 1px solid rgba(112, 117, 122, 0.3);
  padding: 0.75em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#navbar-bottom-left ul li {
  margin-left: 2em;
}
.footer ul li a {
  color: #70757a;
}
#navbar-bottom-right ul li {
  margin-right: 1.2em;
}
@media (max-width: 650px) {
  .footer {
    text-align: center;
    gap: 1.5em;
  }
  #navbar-bottom-left {
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .how-search-works {
    margin-top: 1.5em;
  }

  .other-links li a {
    display: inline;
    margin-right: 1.5em;
  }
  #navbar-bottom-right {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
